@import "tailwindcss";
@import "aos/dist/aos.css";
@plugin "@tailwindcss/typography";

@theme {
  --animate-slow-zoom: slow-zoom 30s ease forwards;

  @keyframes slow-zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }
}

.btn-lime {
  @apply bg-lime-500 border border-lime-500 text-slate-950 font-semibold rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer hover:bg-slate-950 hover:border-slate-950 hover:text-lime-500;
}

.btn-lime-dark {
  @apply bg-slate-900 text-lime-500 font-semibold rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer border border-transparent hover:border-lime-600 hover:bg-slate-50 hover:text-lime-600;
}

.btn-rose {
  @apply bg-rose-600 text-white rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer hover:bg-rose-800;
}

.btn-dark {
  @apply bg-slate-900 text-white rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer hover:bg-slate-700;
}

.btn-transparent {
  @apply bg-slate-900/40 text-white border border-lime-600 rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition font-semibold cursor-pointer hover:bg-lime-600 hover:border-lime-600;
}

.btn-transparent-dark {
  @apply bg-lime-800/20 text-slate-50 border border-lime-800 rounded-sm px-4 py-2 flex items-center justify-center gap-2 hover:bg-lime-800 transition font-semibold cursor-pointer;
}

.btn-rose-white {
  @apply bg-white text-slate-900 rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer hover:bg-rose-600 hover:text-white;
}

.btn-lime-white {
  @apply bg-white text-lime-700 rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer hover:bg-slate-900 hover:text-lime-400;
}

.btn-rose-outline {
  @apply bg-transparent text-white border border-rose-600 rounded-sm px-4 py-2 flex items-center justify-center gap-2 transition duration-300 cursor-pointer hover:bg-rose-800 hover:border-rose-800;
}

button[type="submit"]:disabled {
  @apply bg-gray-700 border-gray-700 text-gray-400 cursor-not-allowed;
}

body {
  font-family: "Hind", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

a:focus, button:focus {
  @apply outline-none ring-2 ring-slate-500 ring-offset-2 ring-offset-slate-900;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none ring-2 ring-rose-700 ring-offset-2 ring-offset-slate-900;
}

strong,
b {
  font-weight: 700;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.font-force-roboto {
  font-family: "Roboto Variable", "Atkinson", sans-serif;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
