---
import SimpleSection from "../sections/SimpleSection.astro";
---
<!-- Elfsight Google Reviews -->
<SimpleSection title="Don't Take Our Word For It" subTitle="What Our Students Say">
  <div class="elfsight-app-9ea1de17-c3e0-4797-99c5-8ecf2a3ac375" data-elfsight-app-lazy></div>
</SimpleSection>

<script src="https://elfsightcdn.com/platform.js" async></script>