<!-- Elfsight Google Reviews | Cirrus Aviation Google Reviews -->
<section class="bg-white py-24 px-4">
  <h2 class="text-slate-900 text-5xl text-center font-bold mb-12">What Our Students Say</h2>
  <div class="elfsight-app-9ea1de17-c3e0-4797-99c5-8ecf2a3ac375" data-elfsight-app-lazy></div>
</section>
<script src="https://elfsightcdn.com/platform.js" async></script>