---
interface Props {
  title?: string;
  subTitle?: string;
  bg?: string;
  size?: "medium" | "large"
}

const { title, subTitle, bg = "bg-white", size = "medium" } = Astro.props;
---

<section class={`py-24 px-4 ${bg}`}>
  <div class="max-w-7xl mx-auto">
    {title && <h2 class={`text-slate-900 text-center font-bold ${size === "medium" ? "text-5xl mb-4" : "mb-8 text-5xl md:text-6xl"}`}>{title}</h2>}
    {subTitle && <p class={`text-slate-600 text-center mb-12 ${size === "medium" ? "text-2xl" : "text-3xl"}`}>{subTitle}</p>}
    <slot />
  </div>
</section>
