---
import BaseLayoutTest from "../layouts/BaseLayoutTest.astro";
---

<BaseLayoutTest>
  <section class="w-screen h-screen bg-red-700 text-white justify-center items-center flex">
    <h1 class="text-9xl text-center">TEST</h1>
  </section>
</BaseLayout>
