---
import { PHONE_NUMBER_HEADER, ADDRESS_CITY, ADDRESS_STATE } from "../data/consts";
import { FaPhoneSquareAlt } from "react-icons/fa";
import Socials from "./Socials.astro";
---

{/* Careful when changing the size of this element or changing when it becomes visible. On Desktop view the BannerHomepage and Banner components have their height calculated with the height of this element in mind */}

<div class="w-full bg-slate-900 h-12 px-4 text-white hidden md:block">
  <div
    class="mx-auto max-w-7xl font-bebas flex items-center align-middle h-full justify-between"
  >
    <p class="font-bebas tracking-widest text-lg block">
      Flight Training in {ADDRESS_CITY}, {ADDRESS_STATE}
    </p>
    <div class="flex gap-3 w-auto">
      <div
        class="items-center justify-center align-middle gap-x-3 flex"
      >
        <Socials />
      </div>

      <a
        href=`tel:${PHONE_NUMBER_HEADER}`
        aria-labelledby="Call Us Now"
        title="Call Us Now"
        class="flex gap-3 w-full tracking-widest justify-center items-center text-center text-lg font-bold duration-300 ease-in-out hover:text-lime-500 lg:text-xl"
        aria-label="Call telephone Link"
      >
        <FaPhoneSquareAlt className="text-2xl" />
        {PHONE_NUMBER_HEADER}</a
      >
    </div>
  </div>
</div>